<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bishun.pets"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_default"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:screenOrientation="portrait"
        >
        <activity
            android:name="com.bishun.pets.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FriendActivity"></activity>
        <activity android:name=".UserInfoActivity"></activity>
        <activity android:name=".NavigateActivity"></activity>
    </application>

</manifest>
